
:root {
    --margin-left: 43.2px;
    --margin-top: 32px;
    --margin-right: 43.2px;
}
/*
.header .main {
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}
*/
/*
.header-top-content {
    position: relative;
    top: 0px;
    height: 80px;
    display: flex;

}
*/
/*
star-icons__first-color {
    color: #0065FC;
}

star-icons__second-color {
    color: #F2F2F2;
}
*/

/*
header {
    display: flex;
}
*/

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul {
    margin-right: 45px;
    display: flex;
    justify-content: space-between;
    text-decoration-line: overline;
    margin-top: 8px;
    font-size: 18px;
    background-color: blueviolet;
}
.header-logo {
    position: relative;
    margin-left: var(--margin-left) ;
    height: 40px;
    width: 80px;
    /*margin-left: 19.2px;*/
    margin-top: 24px;
}

.header-nav__content {
    margin-top: 30px;
    margin-left: 20px;
    height: 80px;
    bottom: auto;
    position: relative;
    top: -120px;
    right: 40px;
    bottom: auto;
    left: 1000px;
    font-size: 20.8px;
    background-color: lawngreen;
}

.header-nav__sub-button {
    list-style-type: none;

}

.header-nav__link {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    text-decoration: none; 
    /*text-decoration-line: overline;*/
    margin-top: 16px;
    line-height: -25px;
    color: #0065FC;
    font-size: 20px;
    border-top: 25px;
}

.header-nav__link:hover {

    text-decoration-line: overline;
    color: black;
}
.header-text {
    position: relative;
    top: -100px;
    margin-left: var(--margin-left);
    font-size: 16px;
    line-height: 16px;
}
 h1 {
     font-size: 20px;
     font-style: bold;
 }

 
.users-geograpical-location {
    background-color: chocolate;
}

/* 
:root {
    --theme-color: #0065FC;
    --margin-section: 2rem;
    --margin-left: 1.2rem;
}
*/

/*

.header-logo {
    border-top: 5rem;
    width: 7rem;
    height: 4rem;
    margin-left: 1.2rem;
    margin-top: 1.2rem;
    padding-top: 3rem;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15
    text-align: right;
    text-decoration: overline;
    border-top-color: var( --theme-color);
}


.main-title {
    font-size: 1.3em; 
    font-weight: bold;
    margin-left: var( --margin-left);
    line-height: -5rem;
}

.main-subtitle {
    font-size: 1em;
    margin-left: 1.6em;
}

.header-nav{
    text-decoration: overline;
    text-align: right;
    font-size: 1.0rem;
    display: inline-flex;
}

#navtest{
    flex-direction: row;
}

footer {
    background-color: #F2F2F2;
    flex: row;
    width: auto;
    height: 20%;   
}
*/

footer {
    background-color:  #F2F2F2;
    display: flex;
    flex-direction: row;
    /*
    box-sizing: border-box;
    top: auto;
    right: 150px;
    bottom: auto;
    left: 140px;
    */
}

.footer-nav { 
    display: flex-end;
    justify-content: space-around;
    width: 100vw;
    list-style-type: none;
    background-color:  #F2F2F2;
    line-height: 28px;
}

.footer-nav__title {
    font-size: 2rem;
    text-decoration-line: none;
    font-size: 20px;
    background-color:  #F2F2F2;

}

.footer-nav__link {
    width: 15rem;
    color: black;
    text-decoration-line: none;
}

.footer-nav__link--highlight {
    color: #ccc;
    text-decoration-line: none;
}
