:root {
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;
  --secondary-icon-color: rgb(192, 190, 190);
  --text-color: #000000;
  --padding-xxs: 1rem;
  --padding-xs: 2rem;
  --padding-base: 3rem;
  --padding-xl: 6rem;
  --margin-xxs: 1rem;
  --margin-xs: 2rem;
  --margin-base: 3rem;
  --margin-xl: 6rem;
}
