footer {
  padding: var(--padding-base);
  display: flex;
  background-color: var(--background-color);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
}

.footer-nav__title {
  line-height: 2.5;
  font-weight: bold;
}

.footer-nav__link {
  line-height: 2;
  text-decoration: none;
  color: var(--text-color);
}
@media only screen and (min-width: 768px) and (max-width: 1350px) {
  footer {
    padding: var(--padding-xxs);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 0;
  }
}

@media only screen and (min-width: 319px) and (max-width: 768px) {
  footer {
    padding: var(--padding-xxs);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
    width: auto;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 0;
    width: calc(100% - 2 * var(--margin-base));
  }
}
