header {
  margin: 0 var(--padding-base);
}

.header__title {
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 0.8rem;
  margin-top: var(--margin-xxs);
}

.header__subtitle {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

/* header-nav */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__container {
  display: flex;
  align-items: center;
}

.header-nav__container__link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  text-decoration: none;
  padding: 2rem 1rem;
  color: var(--text-color);
  transition: 0.2s border-color linear;
  border-top: solid transparent 0.2rem;
}

.header-nav__container:hover > * {
  padding: 2rem 1rem;
  border-color: transparent;
  color: var(--text-color);
}

.header-nav__container__link:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.header-nav__container__link--active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.header-nav__container__link--button {
  font-weight: bold;
  color: var(--primary-color) !important;
}

.header-nav__container__link--button:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/* header-search */

.header-search {
  display: flex;
  height: 3rem;
}

.header-search__icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--background-color) 0.1rem;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  width: 2.5rem;
  background-color: var(--background-color);
}

.header-search__icon {
  color: var(--text-color);
}

.header-search__input {
  display: flex;
  align-items: stretch;
  border: solid var(--background-color) 0.1rem;
  width: 16rem;
}

.header-search__input::-webkit-input-placeholder {
  font-weight: 800;
  color: var(--text-color);
  padding-left: 1rem;
}

.header-search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border: solid var(--primary-color) 0.1rem;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  font-weight: bold;
  color: white;
}

.header-search__button__icon__container {
  display: none;
}

/* header-filters */

.header-filters {
  display: flex;
  align-items: center;
  margin: var(--margin-xs) 0;
}

.header-filters__title {
  font-weight: bold;
  font-size: 1.2rem;
}

.header-filters__toggle-button {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid var(--background-color) 0.125rem;
  border-bottom: solid var(--background-color) 0.125rem;
  border-right: solid var(--background-color) 0.125rem;
  border-left: none;
  border-radius: 25px;
  margin: 0 1.5rem;
}

.header-filters__toggle-button:hover {
  background-color: var(--primary-color);
}

.header-filters__toggle-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: solid var(--secondary-color) 0.125rem;
  border-radius: 100%;
}

.header-filters__toggle-button__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  padding: 1rem;
}

/* header-info */

.header-info {
  display: flex;
  align-items: center;
  margin-top: var(--margin-xs);
}

.header-info__icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--primary-color);
  border: solid var(--background-color) 0.125rem;
  border-radius: 100%;
}

.header-info__text {
  margin-left: var(--margin-xxs);
  font-size: 1rem;
  font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 1150px) {
  header {
    position: relative;
  }

  .header__title {
    width: 100%;
  }
  .header-search {
    display: flex;
    justify-content: flex-start;
  }
  .header-filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .header-filters__toggle-button {
    margin: var(--margin-xxs);
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  header {
    position: relative;
  }

  .header-nav {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    margin-right: var(--margin-base);
  }
  .header__text__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-search {
    display: flex;
    justify-content: flex-start;
  }

  .header-search__button {
    display: none;
  }

  .header-search__button__icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: solid var(--primary-color) 0.1rem;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    font-weight: bold;
    color: white;
    width: 3rem;
  }
  

  .header-filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .header-filters__toggle-button {
    margin: var(--margin-xxs);
  }
  .header-filters__toggle-button__title {
    margin: 3rem;
  }
}

@media only screen and (min-width: 319px) and (max-width: 426px) {
  header {
    margin: 0;
  }
  .header-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 0;
  }

  .header-nav__container {
    width: 100%;
    justify-content: space-between;
    margin-top: 5rem;
    transition: 0.2s border-color linear;
    border-bottom: solid var(--background-color) 0.2rem;
  }

  .header-title {
    margin-top: 0;
    padding-top: 0;
  }

  .header-nav__container__link--button {
    position: absolute;
    right: var(--margin-xxs);
    top: 0;
    border-top: none;
    transition: 0.2s border-color linear;
    border-bottom: solid transparent 0.2rem;
  }

  .header-nav__container__link--active {
    width: 50%;
    border-top: none;
    transition: 0.2s border-color linear;
    border-bottom: solid var(--primary-color) 0.2rem;
  }

  .header-nav__container__link--activities {
    width: 50%;
    border-top: none;
  }

  .header-nav__logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0;
  }
  .header-filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: var(--margin-xxs);
  }
  .header-filters__toggle-button {
    margin: var(--margin-xxs);
  }
  .header-filters__toggle-button__title {
    margin: 3rem;
  }
  .header__text__container {
    align-items: flex-start;
    margin-left: var(--margin-xxs);
    width: auto;
  }

  .header-search {
    margin-left: var(--margin-xxs);
    margin-right: var(--margin-xxs);
  }

  .header-search__button {
    display: none;
  }

  .header-search__button__icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: solid var(--primary-color) 0.1rem;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    font-weight: bold;
    color: white;
    width: 3rem;
  }
  

  .header-info {
    margin-left: var(--margin-xxs);
  }
}
